button, [role="button"] {
	padding: 1rem 1.75rem;
	font-size: .8rem;
	font-weight: 700;
	text-transform: uppercase;
	color: $blue;
	border-radius: 40px;
	background-color: #fff;
	filter: opacity(.2);
	transition: .5s;
	outline: none;
	border: none;
	text-decoration: none;
	cursor: pointer;
}
