@font-face {
	font-family: 'Frutiger';
	src: url('../fonts/FrutigerLight.eot?') format('eot'),
	url('../fonts/FrutigerLight.woff2') format('woff2'),
	url('../fonts/FrutigerLight.woff') format('woff'),
	url('../fonts/FrutigerLight.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Frutiger';
	src: url('../fonts/FrutigerBold.eot?') format('eot'),
	url('../fonts/FrutigerBold.woff2') format('woff2'),
	url('../fonts/FrutigerBold.woff') format('woff'),
	url('../fonts/FrutigerBold.ttf') format('truetype');
	font-weight: 800;
}
