.animation-lamp {

	&__pillar {
		position: relative;
		top: 10vh;
		left: 38vw;
		width: 25vw;
		height: 80vh;
		background-image: url('../images/lamp.png');
		background-size: cover;
	}

	&__light {
		position: absolute;
		top: 55vh;
		left: 40vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 15vw;
		transform: translateX(-68%);
		background-color: #777373;
		border-radius: 10px;
		opacity: 0;
		transition-delay: 1s;
		transition-duration: 2s;
	}

	&__icon {
		display: block;
		width: 5vw;
		height: 5vw;
	}

	&__text {
		font-size: .9vw;
	}
}
