.animation-person {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 10;

	&[data-name="girl"] {
		top: 55%;
		width: 18vh;
		height: 40%;
		background-image: url('../images/persons/girl.svg');
		z-index: 11;

		@media only screen and (max-width: $screen-lg) {
			top: 60%;
			width: 10vh;
			height: 30%;
		}

		&[data-step="1"] {
			background-position-x: 67%;
		}

		&[data-step="2"] {
			background-position-x: 0;
		}

		&[data-step="3"] {
			background-position-x: 17%;
		}

		&[data-step="4"] {
			background-position-x: 34%;
		}

		&[data-step="5"] {
			background-position-x: 53%;
		}

		&[data-step="6"] {
			background-position-x: 84%;
		}

		&[data-step="7"] {
			background-position-x: 102%;
		}
	}

	&[data-name="boy"] {
		top: 50vh;
		left: 5vmin;
		width: 22vh;
		height: 45%;
		background-image: url('../images/persons/boy.svg');

		@media only screen and (max-width: $screen-lg) {
			top: 57%;
			left: 1vh;
			width: 14vh;
			height: 33%;
		}

		&[data-step="1"] {
			background-position-x: 72%;
		}

		&[data-step="2"] {
			background-position-x: 0;
		}

		&[data-step="3"] {
			background-position-x: 19%;
		}

		&[data-step="4"] {
			background-position-x: 40%;
		}

		&[data-step="5"] {
			background-position-x: 54%;
			width: 19vh;

			@media only screen and (max-width: $screen-lg) {
				width: 14vh;
			}
		}

		&[data-step="6"] {
			background-position-x: 88%;
		}

		&[data-step="7"] {
			background-position-x: 102%;
			width: 21vh;

			@media only screen and (max-width: $screen-lg) {
				width: 14vh;
			}
		}
	}

	&[data-name="cyclist"] {
		top: 65vh;
		left: 25vh;
		width: 33.5vh;
		height: 30%;
		background-image: url('../images/persons/cyclist.svg');

		@media only screen and (max-width: $screen-lg) {
			top: 70%;
			left: 20vw;
			width: 22vh;
			height: 20%;
		}

		&[data-step="1"] {
			background-position-x: 33.2%;
		}

		&[data-step="2"] {
			background-position-x: 67%;
		}

		&[data-step="3"] {
			background-position-x: 100.3%;
		}

		&[data-step="4"] {
			background-position-x: -0.3%;
		}

		&[data-step="5"] {
			background-position-x: 33.4%;
		}

		&[data-step="7"] {
			background-position-x: 67%;
		}
	}
}
