.animation-wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	z-index: 4;
	transition: .5s linear;

	@media only screen and (max-width: $screen-lg) {
		flex-direction: column;
	}
}
