.animation-house {
	position: absolute;
	top: -5vh;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 300vh;
	transition: 1s;
	transform: translateX(100%);
	overflow: hidden;
	z-index: 9;

	&.visible {

	}

	&__content {
		position: absolute;
		top: -202vh;
		width: 100vw;
		height: 300vh;
		background-image: url('../images/house.png');
		background-repeat: no-repeat;
		background-position-x: center;
		background-position-y: 85%;
		background-size: 90%;

		&.active {
			.animation-copy__label,
			.animation-copy__button {
				opacity: 1;
			}
		}

		.animation-copy {
			top: -40vh;
			height: 60vh;
			transform: translateX(-50%);

			&__label,
			&__button {
				transition-delay: .5s;
			}

			&__label {
				font-size: 24pt;
			}
		}
	}

	&__button {
		@extend .animation-button;

		transform: translate(-10%, 0);
	}
}
