.animation-house {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 130vmax;
	//transition: .1s;
	//transform: translateX(100%);
	overflow: hidden;
	z-index: 9;

	@media only screen and (max-width: $screen-lg) {
		position: relative;
		top: 0;
		height: 140vh;
		transform: translateX(0%);

		.animation-person {

			&[data-name="girl"] {
				top: 81%;
				height: 25vh;
			}

			&[data-name="boy"] {
				top: 78%;
				height: 30vh;
			}

			&[data-name="cyclist"] {
				top: 85%;
				left: unset;
				right: 1vmax;
				height: 20vh;
				transform: scaleX(-1);
			}
		}

		.animation-background {

			&[data-name="ground"] {
				background-position-y: 124vh;
			}

			&[data-name="silhouette"] {
				background-position-y: 10vh;
			}
		}
	}

	&.visible {

		@media only screen and (max-width: $screen-lg) {

			.animation-copy {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&__content {
		position: absolute;
		top: -15vh;
		width: 100vw;
		height: 100%;
		background-image: url('../images/house.png');
		background-repeat: no-repeat;
		background-position-x: center;
		background-position-y: bottom;
		background-size: 80%;

		@media only screen and (max-width: $screen-lg) {
			top: 0;
			height: 140vh;
			background-position-y: 78%;
			background-size: auto 75vmax;
			z-index: 20;
		}

		&.active {
			.animation-copy,
			.animation-copy__button {
				opacity: 1;
			}
		}
	}

	&__button {
		@extend .animation-button;

		bottom: -12.5vh;
		transform: translate(-20%, 0);

		@media only screen and (max-width: $screen-lg) {
			bottom: 1vh;
			transform: translate(-40%, 0);
		}
	}
}
