.animation-button {
	@extend .animation-button;

	&--finished {
		position: relative;
		top: 30px;
		left: unset;
		bottom: unset;
		padding: 3vh 4vh;
		font-size: 2vh;
		z-index: 50;
		color: $white;
		transform: none;
		box-shadow: #3c3034 -3px 4px 0px, #3c3034 0px 0px 0px;
		filter: opacity(1) brightness(100%);
		background: linear-gradient(0.25turn, #de5081, #b1305b, #BF1B52);

		@media only screen and (max-width: $screen-lg) {
			top: 20px;
			font-size: .5rem;
		}

		&:hover {
			filter: opacity(1) brightness(110%);
		}

		&.active {
			opacity: 1;
		}
	}

	&--top {
		position: fixed;
		bottom: -30vh;
		transition: .5s linear;

		&.active {
			bottom: 2.5vh;
		}
	}
}
