.animation-background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 1800vw;
	background-repeat: repeat-x;
	background-size: contain;

	@media only screen and (max-width: $screen-lg) {
		width: 100%;
		background-size: cover;

		&[data-name="sky"],
		&[data-name="stars-1"],
		&[data-name="stars-2"] {
			position: absolute;
		}
	}

	&[data-name="sky"],
	&[data-name="stars-1"],
	&[data-name="stars-2"] {
		position: fixed;
		background-repeat: no-repeat;
	}

	&[data-name="sky"] {
		opacity: .8;
		background-image: url('../images/sky.png');
		background-position-y: 90%;
		background-size: cover;
		filter: brightness(70%);
	}

	&[data-name="sky-color"] {
		opacity: .8;
		background-color: $sky-color;
	}

	&[data-name="stars"] {
		background-image: url('../images/stars-1.png');
		background-size: contain;
		filter: brightness(70%);

		@media only screen and (max-width: $screen-lg) {
			background-size: cover;
			z-index: 3;
		}
	}

	&[data-name="ground"] {
		background-image: url('../images/ground.png');
		z-index: 3;
	}

	&[data-name="buildings"] {
		background-image: url('../images/buildings.png');
		z-index: 2;
	}

	&[data-name="silhouette"] {
		background-image: url('../images/silhouette.png');
		filter: contrast(90%);
		z-index: 1;
	}

	&[data-name="ground-transition"] {
		height: 25vh;
		background: linear-gradient(#2C1D6C, rgba(46, 28, 106, .3), transparent);
		z-index: 5;
	}
}
