.animation-button {
	@extend .animation-button;

	&--finished {
		position: relative;
		top: 30px;
		left: unset;
		bottom: unset;
		padding: 2.25vh 4vh;
		font-size: 2vh;
		z-index: 50;
		color: $white;
		transform: none;
		box-shadow: #3c3034 -3px 4px 0px, #3c3034 0px 0px 0px;
		opacity: 1;
		background: linear-gradient(0.25turn, #de5081, #b1305b, #BF1B52);

		&:hover {
			opacity: 1;
			filter: brightness(110%);
		}

		&.active {
			opacity: 1;
			visibility: visible;
		}
	}

	&--top {
		position: fixed;
		bottom: -30vh;
		padding: .75rem 2rem .65rem 1rem;
		font-size: .6rem;
		z-index: 10;
		transition: .5s linear;

		&.active {
			bottom: 2.5vh;
		}

		&::before {
			right: 1.25rem;
		}

		&::after {
			right: 1rem;
		}
	}
}
