.animation-section {
	position: relative;
	width: 100vw;
	height: 100vh;
	//border: 5px solid red;
	transition-duration: 1.5s;

	@media only screen and (max-width: $screen-lg) {
		height: 100vh;
		overflow: hidden;

		/*.animation-lamp__lamplight {
			height: 100%;
			opacity: 1;
		}

		.animation-lamp__icon,
		.animation-lamp__text,
		.animation-copy__label,
		.animation-copy__text,
		.animation-copy__button {
			opacity: 1;
		}*/
	}

	&.visible {
		//border-color: green;

		.animation-lamp__lamplight {
			height: 100%;
			opacity: 1;
		}

		.animation-lamp__icon,
		.animation-lamp__text,
		.animation-copy,
		.animation-copy__text,
		.animation-copy__button {
			opacity: 1;
		}
	}
}
