.animation-section {
	position: relative;
	width: 100vw;
	height: 100vh;
	//border: 5px solid red;
	transition-duration: 1.5s;

	&.visible {
		//border-color: green;

		.animation-lamp__lamplight {
			height: 98%;
		}

		.animation-lamp__icon,
		.animation-lamp__text {
			opacity: 1;
		}
	}
}
