.animation-lamp {
	position: absolute;
	top: 6vh;
	left: 33vw;

	@media only screen and (max-width: $screen-lg) {
		top: 43vh;
		left: 15vh;
		height: 50vh;
		width: 80%;
		z-index: 10;
	}

	&__lamp {
		width: 55vh;
		height: 83vh;
		background-image: url('../images/lamp.png');
		background-repeat: no-repeat;
		background-size: contain;

		@media only screen and (max-width: $screen-lg) {
			position: absolute;
			right: 5vw;
			width: 24vh;
			height: 50vh;
		}
	}

	&__lamplight {
		position: absolute;
		top: 5vh;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 72vh;
		min-height: 100%;
		max-height: 0;
		opacity: 0;
		transform: translateX(-43%);
		background-image: url('../images/lamplight.png');
		background-repeat: no-repeat;
		background-size: 99%;
		transition: max-height, opacity .75s linear;

		@media only screen and (max-width: $screen-lg) {
			position: absolute;
			top: 2vh;
			right: -9vh;
			left: unset;
			width: 36vh;
			background-size: 98%;
		}
	}

	&__icon {
		display: block;
		margin-top: 15vh;
		width: 6vw;
		height: auto;
		margin-bottom: 20px;
		opacity: 0;
		transition-duration: .5s;

		@media only screen and (max-width: $screen-lg) {
			margin-top: 8vh;
			width: 12vw;
		}
	}

	&__text {
		max-width: calc(73vh - 50%);
		font-size: 1.8vh;
		line-height: 1.5;
		text-align: center;
		color: $blue;
		opacity: 0;
		transition-duration: .5s;

		@media only screen and (max-width: $screen-lg) {
			max-width: 18vh;
			font-size: 1.25vh;
		}
	}
}
