.animation-copy {
	position: absolute;
	top: 5vh;
	left: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vh;
	height: 50vh;
	background-image: url('../images/star-1.svg');
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0;
	transition: 1s;

	@media only screen and (max-width: $screen-lg) {
		top: 10%;
		left: 0;
		width: 100%;
		height: 30vh;
		z-index: 10;
	}

	&--finished {
		position: fixed;
		top: 25%;
		left: 50%;
		transform: translateX(-50%);
		background-image: url('../images/star-2.svg');
		z-index: 21;

		@media only screen and (max-width: $screen-lg) {
			top: 2.5%;
			height: 40vh;
		}

		&.active {
			opacity: 1;
		}

		.animation-copy__label {
			transition-delay: .5s;

			@media only screen and (max-width: $screen-lg) {
				font-size: 3vh;
			}
		}
	}

	&__label {
		@extend .label;
	}

	&__text {
		@extend .label;

		margin-top: 20px;
		font-size: 3.5vh;
		color: $white;
		text-shadow: rgba(29, 24, 51, 0.8) -1px 1px 0,
		rgba(20, 13, 45, 0.4) -2px 2px 0,
		rgba(20, 13, 45, 0.2) -3px 3px 0;
		opacity: 0;
		transition-delay: .2s;
		transition: 1s;

		@media only screen and (max-width: $screen-lg) {
			font-size: 2vh;
		}
	}

	&__button {
		@extend .animation-button;

		bottom: 0;
		color: $white;
		box-shadow: #3c3034 -3px 4px 0px, #3c3034 0px 0px 0px;
		filter: opacity(1);
		background: linear-gradient(0.25turn, #de5081, #b1305b, #BF1B52);
	}
}
