.animation-person {
	position: fixed;
	top: 40%;
	left: 20%;
	right: 0;
	bottom: 0;
	width: 25vh;
	background-repeat: no-repeat;
	background-image: url('../images/persons/girl.svg');
	background-size: cover;
	z-index: 10;
}
