.animation-background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-size: 100% 100vh;

	&[data-name="background"] {
		background-image: url('../images/background.jpg');
	}

	&[data-name="road"] {
		background-image: url('../images/road.png');
		background-position-y: 70vh;
	}
}

.animation-wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	z-index: 1;
}

.animation-section {
	position: relative;
	width: 99vw;
	height: 100vh;
	border-radius: 10px;
	background-color: #91e600;
	opacity: .5;
	border: 1px solid black;
}
