.animation-preview {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 40%;
	width: 70vw;
	height: 80vh;
	margin: 0 auto;
	color: #fff;

	&__top,
	&__bottom {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px;
	}

	&__top {
		background-color: #bf1b52;
	}

	&__bottom {
		padding-bottom: 110px;
		background-color: #94244a;
		clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 75%, 0 50%);
	}

	&__logo {
		width: 25%;
		height: auto;
	}

	&__text {
		width: 50%;
		font-size: 14px;
		line-height: 1.75;
	}

	&__text-label {
		margin-top: 20px;
		font-size: 22px;
		color: yellow;
	}
}
