.animation-background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 1000%;
	background-repeat: repeat-x;
	background-size: contain;

	&[data-name="sky"],
	&[data-name="stars-1"],
	&[data-name="stars-2"] {
		position: fixed;
		background-repeat: no-repeat;
	}

	&[data-name="sky"] {
		background-image: url('../images/sky.png');
		background-size: cover;
		filter: brightness(70%);
	}

	&[data-name="stars"] {
		background-image: url('../images/stars-1.png');
		background-size: contain;
	}

	&[data-name="ground"] {
		background-image: url('../images/ground.png');
		z-index: 3;
	}

	&[data-name="buildings"] {
		background-image: url('../images/buildings.png');
		z-index: 2;
	}

	&[data-name="silhouette"] {
		background-image: url('../images/silhouette.png');
		filter: brightness(85%);
		z-index: 1;
	}
}
