.animation-section {
	position: relative;
	width: 100vw;
	height: 100vh;
	//border: 5px solid red;
	transition-duration: 1.5s;

	&.visible {
		//border-color: green;

		.animation-lamp__lamplight {
			height: 100%;
			opacity: 1;
		}

		.animation-lamp__icon,
		.animation-lamp__text,
		.animation-copy__label,
		.animation-copy__text,
		.animation-copy__button {
			opacity: 1;
		}
	}
}
