.animation-button {
	position: absolute;
	bottom: 5vh;
	left: 50%;
	transform: translate(-50%, 0);
	transition: .4s cubic-bezier(.47,.22,.39,.79);
	z-index: 20;

	&--top {
		padding-right: 2rem !important;

		&::before,
		&::after {
			right: 1.15rem !important;
			width: .3rem !important;
			height: .3rem !important;
			transform: rotate(-45deg) !important;
		}

		&::before {
			top: 1rem !important;
		}

		&::after {
			top: 1.25rem !important;
		}
	}

	&[data-el="animated.scroll-button"],
	&[data-el="animated.scroll-up-button"] {
		padding-right: 40px;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 1.35rem;
			width: .4rem;
			height: .4rem;
			border-top: .09rem solid $blue;
			border-right: .09rem solid $blue;
			transform: rotate(45deg);

			@media only screen and (max-width: $screen-md) {
				top: .85rem;
			}
		}

		&::before {
			right: 1.95rem;
		}

		&::after {
			right: 1.65rem;
		}
	}
}
