<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wellspring</title>
</head>
<body>
    <div class="wrapper">
        <div class="animation" data-el="animated.container">
            <div class="animation-background" data-name="sky"></div>
            <div class="animation-background" data-name="silhouette" data-el="animated.element" data-speed=".1"></div>
            <div class="animation-background" data-name="ground" data-el="animated.element" data-speed=".5"></div>
            <div class="animation-background" data-name="buildings" data-el="animated.element" data-speed=".2"></div>
            <div class="animation-person" data-el="animated.person" data-speed="1"></div>
            <!--<div class="animation-wrapper" data-el="animated.element" data-speed="1">
                <section class="animation-section" data-el="animated.section"></section>
                <section class="animation-section" data-el="animated.section"></section>
                <section class="animation-section" data-el="animated.section"></section>
            </div>-->
        </div>
    </div>
</body>
</html>
