<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wellspring</title>
</head>
<body>
    <div class="wrapper">
        <div class="animation" data-el="animated.container">
            <div class="animation-person" data-el="animated.person" data-step="7"></div>
            <div class="animation-wrapper" data-el="animated.element" data-section data-speed="1">
                <section class="animation-section" data-el="animated.section">
                    <div class="animation-preview" data-el="animated.preview">
                        <div class="animation-preview__top">
                            <img class="animation-preview__logo" src="./images/logo.png" alt="Wellspring" />
                        </div>
                        <div class="animation-preview__bottom">
                            <div class="animation-preview__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Accusamus consequatur cum delectus ducimus minima, nam nostrum,
                                nulla obcaecati odio placeat quibusdam ratione, rerum sed sit unde?
                                Aut debitis eligendi possimus.
                            </div>
                        </div>
                    </div>
                </section>
                <section class="animation-section" data-el="animated.section">

                </section>
                <section class="animation-section" data-el="animated.section">

                </section>
            </div>
            <!--<div class="animation-walking-container" data-el="animated.walking-container"></div>-->
            <div class="animation-background" data-name="sky"></div>
            <div class="animation-background" data-name="stars" data-el="animated.element" data-speed=".02"></div>
            <div class="animation-background" data-name="silhouette" data-el="animated.element" data-speed=".2"></div>
            <div class="animation-background" data-name="buildings" data-el="animated.element" data-speed=".3"></div>
            <div class="animation-background" data-name="ground" data-el="animated.element" data-speed="1"></div>
        </div>
    </div>
</body>
</html>
